<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width,initial-scale=1">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <title>课程02-循环和判断</title>
</head>
<body>
<div id=myApp>
    <h3>游戏列表</h3>
    <div v-if="seen">2019最新</div>
    <ol v-for="game in games">{{game.title}} / {{game.price}}元</ol>
</div>
        <script>
            var myApp=new Vue({
                el:'#myApp',
                data:{
                    seen:false,
                    games:[{title:"游戏1",price:"10.00"},{title:"游戏2",price:"20.00"},{title:"游戏3",price:"30.00"}]
                }
            });
        </script>
</body>
</html>